@page
@model BusyPop.Pages.Shared.BuscaModel
@{
}
<br>
<h2>Resultados da sua procura</h2>


<table class='table'>
	<thead>
		<tr>
			<th>Nome</th>
			<th>Action</th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model.BuscaList)
		{
			<tr>
				<td>@item.name</td>
				<td>
					@if(item.tipo == 1)
					{
						<a class="btn btn-primary btn-sm" href="/Feiras/Index?id=@item.id">Selecionar</a>
					}
					@if (item.tipo == 0)
					{
						<a class="btn btn-primary btn-sm" href="/Produtos/Index?id=@item.id">Selecionar</a>
					}
				</td>
			</tr>
		}
	</tbody>
</table>

